<svelte:head>
	<title>Release Monitor</title>
</svelte:head>

<script>
	import MajorRelease from './MajorRelease.svelte';
	document.body.classList.add('bg-ground');

	async function loadMajorReleases() {
		const x = await fetch("__BACKEND_URL/releases");
		const releases = await x.json();
		console.log(releases);
		return releases;
	}
	let majorReleasesPromise = loadMajorReleases();
</script>

<style global lang="postcss">
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>

<main>
	<h1 class="text-center font-extrabold text-2xl md:text-5xl text-primary font-mono p-8">
		Release Cycle Monitor
	</h1>

	{#await majorReleasesPromise}
		<div class="m-16 border-slate-700 border-0 rounded-md p-7 ease-in-out">
			<div class="text-primary text-4xl text-center font-bold">
				Loading major releases...
			</div>
		</div>
	{:then majorReleases}
		{#each majorReleases as major}
		<MajorRelease major={major}/>
		{/each}
	{:catch error}
		<p style="color: red">Could not fetch releases.</p>
		<p style="color: red">{ error.message }</p>
	{/await}

</main>
