<script>
  import CopyClipboard from "./icons/CopyClipboard.svelte";
  export let tag;
  export let pullString = null;

  function copyToClipboard() {
    navigator.clipboard.writeText(pullString);
  }
</script>

{#if !tag}
  <div class="flex justify-center bg-failure p-1 px-2 m-auto md:ml-1 md:mr-1 min-w-[8rem] rounded-lg text-ground">
    <img src="docker.svg" alt="Project icon" class="m-1" style="height: 1.25rem; width: 1.25rem;"/>
    <div class="pr-2">N/A</div>
  </div>
{:else if tag && !pullString}
  <div class="flex justify-center align-middle bg-primary p-1 px-2 m-auto md:ml-1 md:mr-1 min-w-[8rem] rounded-lg text-ground">
    <img src="docker.svg" alt="Project icon" class="m-1" style="height: 1.25rem; width: 1.25rem;"/>
    <div class="">{tag}</div>
  </div>
{:else}
  <button on:click={copyToClipboard} class="flex justify-center align-middle bg-primary p-1 px-2 m-auto md:ml-1 md:mr-1 min-w-[8rem] rounded-lg text-ground">
    <img src="docker.svg" alt="Project icon" class="m-1" style="height: 1.25rem; width: 1.25rem;"/>
    <div class="">{tag}</div>
    <div class="w-5 h-5 border-0 ml-2 mt-[0.3rem]">
      <CopyClipboard/>
    </div>
  </button>
{/if}
