<script>
  import Timestamp from "./Timestamp.svelte";
  import ContainerTag from "./ContainerTag.svelte";
  import Size from "./Size.svelte";
  export let projectId;
  export let tagName;

  async function loadContainerData() {
    const req = await fetch(
      `__BACKEND_URL/project/${projectId}/tag/${tagName}/container`
    );
    const containerResult = await req.json();
    return containerResult;
  }

  let containerPromise = loadContainerData();
</script>

{#await containerPromise}
  <div>
    Loading container data...
  </div>
{:then containerResult}
  {#if (containerResult.ok === false)}
    <div>
      No container built.
    </div>
  {:else}
    <div class="mt-2">
      <div class="flex justify-center">
        <ContainerTag {...containerResult}/>
      </div>
      <div class="flex justify-center font-bold">
        <div class="pr-2 pl-2"><Size bytes={containerResult.bytes}/></div>
        <div class="pr-2 pl-2">{containerResult.shortDigest}</div>
      </div>
      <div class="text-center p-1">
        <Timestamp timestamp={containerResult.timestamp}/>
      </div>

      <div class="flex justify-center font-bold">
        {#if containerResult.aliases.length > 0}
          {#each containerResult.aliases as alias}
            <ContainerTag tag={alias}/>
          {/each}
        {:else}
          No aliases found.
        {/if}
      </div>
      <div class="p-2"></div>
    </div>
  {/if}
{:catch error}
  <p style="color: red">Could not fetch container details.</p>
  <p style="color: red">{ error.message }</p>
{/await}
