<script>
  export let name;
  export let message = null;
  export let commit = null;
  export let commitUrl = null;
</script>

{#if !name}
  <div class="flex justify-center bg-failure p-1 px-2 m-auto md:ml-1 md:mr-1 min-w-[8rem] rounded-lg text-ground text-center">
    <img src="Git-icon-black.svg" alt="Project icon" class="m-1" style="height: 1rem; width: 1rem;"/>
    <div>N/A</div>
  </div>
{:else}
  <a href="{commitUrl}">
    <div class="flex justify-center bg-secondary p-1 px-2 m-auto md:ml-1 md:mr-1 min-w-[8rem] rounded-lg text-ground" title="{commit} {message}">
      <img src="Git-icon-black.svg" alt="Project icon" class="m-1" style="height: 1rem; width: 1rem;"/>
      <div>{name}</div>
    </div>
  </a>
{/if}
