
<script>
  import Project from './Project.svelte';
  export let major;

  async function loadProjects() {
    // TODO, refactor because same query for every release:
    const req = await fetch("__BACKEND_URL/projects");
    const projects = await req.json();
    const result = projects.map(
      (x) => {
        return {
          name: x.name,
          projectId: x.id,
          url: x.url,
          avatarUrl: x.avatarUrl,
          majorRelease: major,
          description: x.description,
        };
      }
    );
    return result;
  }

  let projectsPromise = loadProjects();

</script>


<div class="m-2 md:m-8 border-slate-700 border-0 rounded-md p-2 ease-in-out">
  <div class="text-primary text-4xl text-center font-bold p-3">
    Release {major}
  </div>
  
  {#await projectsPromise}
    <div class="text-primary text-xl text-center font-bold">
      Loading projects...
    </div>
  {:then projects}
    <div class="flex flex-wrap justify-around">
      {#each projects as project}
        <Project {...project}/>
      {/each}
    </div>
  {:catch error}
    <p style="color: red">Could not fetch releases.</p>
    <p style="color: red">{ error.message }</p>
  {/await}

</div>

