<script>
  import Timestamp from './Timestamp.svelte';
  export let projectId;
  export let tag;
  export let showDate = true;

  async function loadPipelineData() {
    const req = await fetch(
      `__BACKEND_URL/project/${projectId}/tag/${tag}/pipeline`
    );
    const pipeline = await req.json();
    return pipeline;
  }

  let pipelinePromise = loadPipelineData();
</script>

{#await pipelinePromise}
  <div class="text-primary text-xl text-center font-bold">
    Loading pipeline data...
  </div>
{:then pipelineDetails} 
  <a class="flex justify-around text-ground font-bold w-[14rem] h-8" href={pipelineDetails.url}>
    {#if pipelineDetails.status == 'successful'}
      <div class="p-1 pl-4 pr-4 self-center bg-success rounded-lg"> Pipeline succeeded</div>
    {:else if pipelineDetails.status == 'running'}
      <div class="bg-secondary p-1 pl-4 pr-4 rounded-lg"> Pipeline running</div>
    {:else if pipelineDetails.status == 'failed'}
      <div class="bg-failure p-1 pl-4 pr-4 rounded-lg">Pipeline failed</div>
    {:else if pipelineDetails.status == 'queued'}
      <div class="bg-secondary p-1 pl-4 pr-4 rounded-lg">Pipeline queued</div>
    {:else if pipelineDetails.status == 'not created'}
      <div class="bg-secondary p-1 pl-4 pr-4 rounded-lg">No Pipeline created</div>
    {:else}
      <div class="bg-secondary p-1 pl-4 pr-4 rounded-lg">Pipeline status unknown</div>
    {/if}
  </a>
  {#if pipelineDetails.timestamp !== 0 && showDate}
    <div class="text-center p-1">
      <Timestamp timestamp={pipelineDetails.timestamp}/>
    </div>
  {/if}
{:catch error}
  <p style="color: red">Could not fetch pipeline details.</p>
  <p style="color: red">{ error.message }</p>
{/await}
