
<script>
  import Pipeline from './Pipeline.svelte';
  import GitTag from './GitTag.svelte';
  import ContainerTag from './ContainerTag.svelte';
  import Expand from './icons/Expand.svelte';
  import Cube from './icons/Cube.svelte';
  import { spring } from 'svelte/motion';
  import { fade } from 'svelte/transition';
  import Tag from './Tag.svelte';
  export let name;
  export let projectId;
  export let majorRelease;
  export let url;
  export let avatarUrl;
  export let description;

  async function loadHighestTags() {
    const req = await fetch(
      `__BACKEND_URL/project/${projectId}/release/${majorRelease}/latest`
    );
    return await req.json();
  }
  const highestTagsPromise = loadHighestTags();

  async function loadTags() {
    const req = await fetch(
      `__BACKEND_URL/project/${projectId}/release/${majorRelease}/tags`
    );
    const tags = await req.json();
    return tags;
  }

  let tagsPromise = loadTags();

  let expanded = false;

  const shrunkSizes = {
    projectPadding: 0.5,
    projectHeaderPaddingLeft: 0.25,
    projectWidth: 35,
    namePadding: 0.5,
    iconSize: 6,
    nameFontSize: 1.5,
  };
  const expandedSizes = {
    projectPadding: 0.5, // 1.5
    projectHeaderPaddingLeft: 0.25, // 1.0
    projectWidth: 75, // 45 old
    namePadding: 0.5,  // 3
    iconSize: 6, // 14
    nameFontSize: 1.5, // 3
  };

  const sizes = spring(shrunkSizes);

  let element;
  function expand() {
    expanded = true;
    element.style = "width: 100%;";
    sizes.set(expandedSizes);
  }

  function shrink() {
    expanded = false;
    element.style = "";
    sizes.set(shrunkSizes);
  }

  function toggleExpansion() {
    if (expanded) {
      shrink();
    } else {
      expand();
    }
  }

  // https://stackoverflow.com/questions/6234773
  function escapeHtml(unsafe) {
    return unsafe
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;")
      .replaceAll('\n', "<br>");
  }
</script>

<div
  bind:this={element}
  id="projectDiv"
  class="text-primary border-primary border-y-4 m-1 bg-white bg-opacity-5 p-2 transition w-[20rem] md:w-[33rem]"
>
  <div class="md:flex md:justify-center pl-1 max-w-4xl m-auto">
    <div class="w-18 h-18 md:w-28">
      {#if avatarUrl}
        <img src={avatarUrl} alt="Project icon" class="mt-2 mb-2 h-12 w-12 m-auto"/>
      {:else}
        <div class="mt-2 mb-2 h-12 w-12 m-auto">
          <Cube/>
        </div>
      {/if}
    </div>
    <div>
      <a href="{url}" class="pt-2">
        <div class="text-primary font-bold text-2xl" href="{url}">{name}</div>
        <div class="text-l font-bold text-primary">Project ID {projectId}</div>
      </a>
    </div>
    {#if expanded && description}
    <div class="text-l text-secondary pt-6 pl-2">
      <div class="border-l-2 border-l-primary m-3 pl-2 pb-1 max-w-[30rem]">
        {@html escapeHtml(description)}
      </div>
    </div>
    {/if}
  </div>
  <div class="max-w-[32rem] m-auto">
    {#await highestTagsPromise}
      <div class="md:flex pl-6 pt-2" transition:fade>
        <GitTag tag={"..."}/>
        <ContainerTag tag={"..."}/>
      </div>
      {:then highestTags}
        <div class="md:flex" transition:fade>
          <div class="m-auto w-fit pt-2">
            {#if highestTags.highestGitTag}
              <GitTag {...highestTags.highestGitTag}/>
            {:else}
              <GitTag tag={null}/>
            {/if}
          </div>
          <div>
            <div class="m-auto w-fit pt-2">
              <Pipeline {projectId} tag={highestTags.highestGitTag?.name} showDate={false}/>
            </div>
          </div>
          <div>
            <div class="m-auto w-fit pt-2">
              {#if highestTags.highestContainer}
                <ContainerTag {...highestTags.highestContainer}/>
              {:else}
                <ContainerTag tag={null}/>
              {/if}
            </div>
          </div>
        </div>
      {:catch error}
        <p style="color: red">Could not fetch latest tags.</p>
        <p style="color: red">{ error.message }</p>
      {/await}
  </div>
  <button on:click={toggleExpansion} transition:fade class="border-0 w-full">
    <div class="flex justify-center">
      <Expand inverted={expanded}/>
    </div>
  </button>
  {#if expanded}
    <div class="flex justify-center flex-wrap" transition:fade>
      {#await tagsPromise}
        <div class="text-primary text-xl text-center font-bold">
          Loading tags...
        </div>
      {:then tags} 
        {#each tags as tag}
        <Tag {...tag} {projectId} {majorRelease}/>
        {/each}
        {#if tags.length === 0}
          <div class="text-primary text-xl text-center font-bold pt-8">
            There is no tag of this project<br>
            for this major release!
          </div>
        {/if}
      {:catch error}
        <p style="color: red">Could not fetch tags.</p>
        <p style="color: red">{ error.message }</p>
      {/await}
    </div>
    <button on:click={toggleExpansion} transition:fade class="border-0 w-full">
      <div class="flex justify-center">
        <Expand inverted={true}/>
      </div>
    </button>
  {/if}
</div>
