<script>
  import Timestamp from './Timestamp.svelte';
  import Pipeline from './Pipeline.svelte';
  import GitTag from './GitTag.svelte';
  import Container from './Container.svelte';
  export let name;
  export let timestamp;
  export let message;
  export let commit;
  export let commitUrl;

  export let projectId;
</script>

<div class="border-tertiary divide-y divide-dashed border-2 m-2 p-2 rounded-lg w-[19rem] text-E0FF4F">

  <div>
    <div class="w-1/2 m-auto">
      <GitTag {name} {message} {commit} {commitUrl}/>
    </div>
    <div class="text-center p-1">
      <Timestamp {timestamp}/>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="p-1">
      <Pipeline {projectId} tag={name}/>
    </div>
  </div>

  <div class="flex justify-center">
    <Container {projectId} tagName={name}/>
  </div>
</div>
