<script>
  export let timestamp;
  $: timeDate = new Date(1000 * timestamp);

  let visible = false;

  function getDeltaString() {
    const now = new Date();
    const delta = now.getTime() / 1000 - timestamp;
    if (delta < 60) {
      return "just now";
    } else if (delta < 3600) {
      return Math.round(delta / 60) + " min ago";
    } else if (delta < 3600 * 48) {
      return Math.round(delta / 3600) + " hours ago";
    } else {
      return Math.round(delta / 3600 / 24) + " days ago";
    }
  }

  let mouseX = 0;
  let mouseY = 0;

  function mouseenter() {
    visible = true;
  }

  function mouseleave() {
    visible = false;
  }

  function updateLocation(e) {
    mouseX = e.layerX;
    mouseY = e.layerY;
    console.log(e);
  }

</script>

<div on:mouseenter={mouseenter} on:mouseleave={mouseleave} on:mousemove={updateLocation}>
  <div>
    {getDeltaString()}
  </div>
  {#if visible}
    <div class="absolute shadow-l border bg-ground p-2 rounded-sm" style="top: {mouseY + 10}px; left: {mouseX}px;">
      {timeDate.toLocaleDateString()}
      <br>
      {timeDate.toLocaleTimeString()}
    </div>
  {/if}
</div>


